meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="copyright", content="chengpeng.us")
meta(name="keywords", content="chengpeng")
meta(name="description", content="chengpeng")
title #{title || 'canbaobaoyaozhangda'}
link(rel="shortcut icon", href="./favicon.ico")
link(rel="stylesheet", href="")
