extends ../layout.jade

block content
  #wrap
    #container
      ul#nav
        li Bio
        li Work
        li Hobbies 
        li Food
        li Contact
      #content
        section#bio
          header
            h1 Bio
            p
            p
        section#work
          header
            h1 Work
        section#hobbies
          header
            h1 hobbies
        section#food
          header
            h1 food
        section#contact
          header
            h1 contact
  #scroller
