extends ../layout.jade

block content
  #wrap
    #container
      ul#nav
        li Web develop
        li Front-end develop
        li css 
        li css3
        li Transforms
      #content
        section#web-dev
          header
            h1 Web development
            p
            p
        section#front-end
          header
            h1 Front-end development
        section#css
          header
            h1 css
        section#css3
          header
            h1 css3
        section#tranforms
          header
            h1 tranforms
  #scroller
